.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row:first-child > .square{
    border-top: none;
  
}

.board-row > .square:first-child {
    border-left: none;
}